@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 5px;
  background: #eee;
  padding: 6px;
}

input {
  border: 2px solid #bebdbd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

body{
  display: flex;
  flex-direction: column;
}

.header, .footer, .left-links, .right-links{
  display: flex;
  justify-content: space-between;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer{
background-color:#eeeeee;
}

a{
  text-decoration: none;
  color: rgb(99, 99, 99);
  font-weight: bold;
}

.header, .footer{
  padding:12px;
}

.left-links, .right-links{
  gap: 1rem;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex:1;
  justify-content: center;
}




