/* Add CSS Styling */
.red-background
 {
    background-color: red;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif
}

#number-2
{
    color: blue;
    font-size: 48px;
}

.coolfont 
{
    font-size: 36px;
}

#number-4
{
     background-color: green;
    font-size: 36px;
    font-weight: bold;
}
