body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  flex-shrink: 0;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

body{
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  flex:1;
}

ul{
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.right-content{
  display: flex;
  gap: 24px;
  padding: 48px;
  flex-wrap: wrap;
}

.card{
  width: 250px;
  padding: 16px;
  box-shadow: 10px 10px 5px rgb(141, 145, 146);
}

a{
  color: #eee;
  text-decoration: none;
  font-size: 24px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  align-items: center;
}


*{outline:1px solid red;}