.header  {
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  text-align: center;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  padding :0px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

*{border: 1px solid red;}

.left-links ul{
  display:flex;
  gap: 1rem;
  justify-content: flex-start;
}

.right-links ul{
  display:flex;
  gap: 1rem;
  justify-content: flex-end;
}

.header{
  display:flex;
  align-items: center;
  padding:12px;
}

.header > * {
  flex-grow:1;
}

.header .logo{
  flex-grow:0;
}
