/* Add CSS Styling */
.left, .right {
font-size: 48px;
font-family: Arial, Helvetica, sans-serif;
}


.left {
background-color: black;
color: white;
}

.right {
background-color: yellow;
color: black;
}
